[submodule "adafruit-beaglebone-io-python"]
	path = adafruit-beaglebone-io-python
	url = https://github.com/adafruit/adafruit-beaglebone-io-python
[submodule "boneDeviceTree"]
	path = boneDeviceTree
	url = git://github.com/derekmolloy/boneDeviceTree.git
[submodule "exploringBB"]
	path = exploringBB
	url = git@github.com:derekmolloy/exploringBB.git

[submodule "Example-Sketch-for-IMU-including-Kalman-filter"]
	path = Example-Sketch-for-IMU-including-Kalman-filter
	url = git@github.com:TKJElectronics/Example-Sketch-for-IMU-including-Kalman-filter.git
[submodule "KalmanFilter"]
	path = KalmanFilter
	url = git@github.com:TKJElectronics/KalmanFilter.git
